@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  @keyframes blinkBg {
    0%, 100% {
      background-color: transparent;
    }
    50% {
      background-color: #c4b5fd; 
    }
  }

  .animate-blink {
    animation: blinkBg 3s infinite;
  }
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #5674fc !important;
  color: black !important;
}

.custom-dark-tabs .ant-tabs-tab {
  color: #cbd5e1;
  font-weight: 500;
  font-size: large;
}

.custom-dark-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #38bdf8 !important; 
}

.custom-dark-tabs .ant-tabs-ink-bar {
  background-color: #38bdf8 !important;
}
