@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌞 LIGHT MODE (default) */
:root {
  --bg-color: #000000;
  --text-color: #ffffff;

  --primary: #1E3A8A;
  --secondary: #0A2540;

  --gold: #F5D06F;
  --gold-dark: #E6B85C;

  --card-bg: #f8fafc;
  --border-color: rgba(0,0,0,0.1);
}

/* 🌙 DARK MODE */
.dark {
  --bg-color: #020617;
  --text-color: #e2e8f0;

  --primary: #1E3A8A;
  --secondary: #0A2540;

  --gold: #F5D06F;
  --gold-dark: #E6B85C;

  --card-bg: rgba(10, 37, 64, 0.4);
  --border-color: rgba(245, 208, 111, 0.2);
}

.app-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: #38bdf8;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.hero-heading {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-size: 3rem;
}

body {
 font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}


@layer utilities {
  @keyframes blinkGlow {
    0%, 100% {
      box-shadow: 0 0 0px rgba(245, 208, 111, 0);
    }
    50% {
      box-shadow: 0 0 12px rgba(245, 208, 111, 0.8),
                  0 0 24px rgba(245, 208, 111, 0.6);
    }
  }

  .animate-blink {
    animation: blinkGlow 2s ease-in-out infinite;
  }
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #5674fc !important;
  color: black !important;
}

.custom-dark-tabs .ant-tabs-tab {
  color: #cbd5e1;
  font-weight: 500;
  font-size: large;
}

.custom-dark-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #38bdf8 !important;
}

.custom-dark-tabs .ant-tabs-ink-bar {
  background-color: #38bdf8 !important;
}

.custom-dark-color {
  color: rgb(248, 55, 55) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1f1f1f;
}
